.block-22 {
	background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);
	
	.content-block__title {
		color: #fff;
	}
	
	.content-block__wrapper {
		color: #fff;
		width: 1000px;
	}
	
	&__item {
		padding: 0 calc(50% + 80px) 100px 0;
		position: relative;
		min-height: 100px;
		text-align: right;
		box-sizing: border-box;
		
		.icon {
			top: 0;
			left: 50%;
			position: absolute;
			transform: translate(-50%, 0) scale(0.3);
			background: #130C35;
			
			transition: all 0.5s ease;
		}
		
		&.revealed {
			.icon {
				transform: translate(-50%, 0);
			}
		}
		
		&__title {
			color: #00C5DE;
			margin: 0 0 1em 0;
			opacity: 0;
			display: flex;
			font-size: 1.3em;
			transform: translateX(-20vh);
			min-height: 70px;
			font-weight: 700;
			text-transform: uppercase;
			flex-direction: column;
			justify-content: center;
			
			transition: all 0.5s ease;
			
			.revealed & {
				opacity: 1;
				transform: translateX(0) !important;
			}
		}
		
		p {
			opacity: 0;
			transform: translateY(10vh);
			
			transition: all 0.5s ease 0.3s;
		}
		
		&:nth-child(2n) {
			padding: 0 0 100px calc(50% + 80px);
			text-align: left;
			
			.block-22__item__title {
				transform: translateX(20vh);
			}
		}
		
		&:before {
			top: 70px;
			left: 50%;
			width: 0;
			bottom: 100%;
			content: '';
			position: absolute;
			border-right: 1px dashed #00C5DE;
			
			transition: all 0.5s ease 0.3s;
		}
		
		&:last-child {
			padding: 100px 25% 0 25%;
			text-align: center;
			
			.block-22__item__title {
				transform: translateY(10vh);
			}
			
			&:before {
				display: none;
			}
		}
		
		@media (max-width: 600px)
		{
			padding: 100px 0 40px 0 !important;
			text-align: center !important;
			
			.block-22__item__title {
				transform: translateY(10vh);
			}
			
			&:before {
				display: none;
			}
		}
		
		&.revealed {
			&:before {
				bottom: -35px;
			}
			
			p {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	
	&__icon-index {
		top: 50%;
		left: 50%;
		color: #00C5DE;
		z-index: 2;
		position: absolute;
		transform: translate(-50%, -50%);
		font-weight: 700;
	}
	
	&__shadow {
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		opacity: 0.1;
		position: absolute;
		transform: translate(-50%, -50%);
		
		& > div {
			width: 100%;
			height: 100%;
			
			& > div {
				width: 100%;
				height: 100%;
				background: #fff;
				border-radius: 100%;
			}
		}
	}
}