.block-24 {
	width: 1160px;
	margin: 10vh auto 15vh auto;
	display: flex;
	max-width: 100%;
	
	@media (max-width: 1000px)
	{
		flex-direction: column;
	}
	
	@keyframes CCCCC {
		0% {
			opacity: 0;
			transform: translate(-50%, -20vh);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	
	@keyframes DDDDD {
		0% {
			opacity: 0;
			transform: translate(50%, -20vh);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	
	.content-block__title {
		flex: 50% 0 0;
		margin: 0;
		padding: 0 10% 0 0;
		font-size: 1.7em;
		text-align: left;
		box-sizing: border-box;
		line-height: 1em;
		animation: 0.3s CCCCC ease-in;
		
		@media (max-width: 1100px)
		{
			flex: auto;
		}
	
		@media (max-width: 1000px)
		{
			padding: 0;
			text-align: center;
			margin-bottom: 1em;
			
			br {
				display: none;
			}
		}
	}
	
	&__buttons {
		flex: 50% 0 0;
		display: flex;
		align-items: center;
		animation: 0.3s DDDDD ease-in;
		
		.btn {
			padding: 1em 0.5em 0.8em 0.5em;
			flex-grow: 1;
			min-width: auto;
			white-space: nowrap;
			margin-left: -1px;
			border-radius: 0;
			vertical-align: middle;
			
			&:first-child {
				margin-left: 0;
				border-top-left-radius: 61px;
				border-bottom-left-radius: 61px;
			}
			
			&:last-child {
				border-top-right-radius: 61px;
				border-bottom-right-radius: 61px;
			}
			
			@media (max-width: 500px)
			{
				margin: 10px;
				white-space: normal;
				border-radius: 61px;
				
				&:first-child {
					margin: 10px;
				}
			}
		}
		
		@media (max-width: 1100px)
		{
			flex: auto;
		}
		
		@media (max-width: 500px)
		{
			margin: 0 -10px;
			flex-wrap: wrap;
		}
	}
}