.custom-tb {
	height: 44px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	overflow: hidden;
	position: relative;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
	border-radius: 13px;
	
	transition: all 0.3s ease;
	
	input {
		width: calc(100% - 60px);
		border: 0;
		height: 100%;
		margin: 0 20px 0 40px;
		outline: 0;
		padding: 0;
		z-index: 2;
		position: relative;
		font-size: 1.143em;
		background: transparent;
	}
	
	&__icon {
		top: 50%;
		left: 16px;
		width: 16px;
		height: 16px;
		position: absolute;
		transform: translateY(-50%);
		
		img {
			top: 50%;
			left: 50%;
			height: 100%;
			position: absolute;
			max-width: 100%;
			transform: translate(-50%, -50%);
			max-height: 100%;
		}
	}
	
	&__placeholder {
		top: 50%;
		left: 40px;
		right: 20px;
		color: #CFCFCF;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		font-size: 1.143em;
		transform: translateY(-50%);
		
		transition: all 0.15s ease;
	}
	
	&__invalid {
		background: rgba(255, 0, 0, 0.05);
		border-color: rgba(255, 0, 0, 0.1);
	}
	
	&__disabled {
		filter: grayscale(1);
		opacity: 0.5;
		pointer-events: none;
	}
	
	&__focused {
		box-shadow: 0px 0 7px rgba(0, 197, 222, 0.28);
		border-color: rgba(0, 97, 122, 0.3);
		
		.custom-tb__placeholder {
			opacity: 0.5;
		}
	}
	
	&__not-empty {
		.custom-tb__placeholder {
			opacity: 0;
		}
	}
}



.custom-ta {
	border: 1px solid rgba(0, 0, 0, 0.05);
	overflow: hidden;
	position: relative;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
	border-radius: 13px;
	
	transition: all 0.3s ease;
	
	textarea {
		width: calc(100% - 40px);
		border: 0;
		resize: none;
		height: 80px;
		margin: 0;
		outline: 0;
		padding: 16px 20px;
		z-index: 2;
		position: relative;
		font-size: 1.143em;
		background: transparent;
		vertical-align: top;
	}
	
	&__icon {
		top: 17px;
		left: 16px;
		width: 16px;
		height: 16px;
		position: absolute;
		
		transition: all 0.15s ease;
	}
	
	&__icon {
		img {
			top: 50%;
			left: 50%;
			height: 100%;
			position: absolute;
			max-width: 100%;
			transform: translate(-50%, -50%);
			max-height: 100%;
		}
	}
	
	&__placeholder {
		top: 15px;
		left: 40px;
		right: 20px;
		color: #CFCFCF;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		font-size: 1.143em;
		
		transition: all 0.15s ease;
	}
	
	&__invalid {
		background: rgba(255, 0, 0, 0.05);
		border-color: rgba(255, 0, 0, 0.1);
	}
	
	&__disabled {
		filter: grayscale(1);
		opacity: 0.5;
		pointer-events: none;
	}
	
	&__focused {
		box-shadow: 0px 0 7px rgba(0, 197, 222, 0.28);
		border-color: rgba(0, 97, 122, 0.3);
		
		.custom-ta__icon {
			opacity: 0;
		}
		
		.custom-ta__placeholder {
			left: 20px;
			opacity: 0.5;
		}
	}
	
	&__not-empty {
		.custom-ta__placeholder {
			opacity: 0;
		}
		
		.custom-ta__icon {
			opacity: 0;
		}
	}
}