.app-footer {
	color: #fff;
	padding-right: var(--popup-scroll-offset);
	
	&__line1 {
		background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);
	}
	
	&__line2 {
		padding: 1em 0;
		text-align: center;
		background: #0D0924;
	}
	
	&__wrapper {
		width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
		max-width: 100%;
		box-sizing: border-box;
	}
	
	&__cta {
		top: -75px;
		color: #000;
		display: flex;
		padding: 30px 30px 30px 220px;
		overflow: hidden;
		position: relative;
		background: #fff;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
		align-items: center;
		border-radius: 13px;
		margin-bottom: -75px;
		
		@media (max-width: 800px)
		{
			flex-wrap: wrap;
			text-align: center;
			margin-top: 90px;
		}
		
		@media (max-width: 500px)
		{
			padding: 50px 20px 30px 20px;
			overflow: visible;
			flex-direction: column;
		}
		
		&:before {
			top: 0;
			left: 70px;
			width: 60px;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			transform: skewX(-20deg);
			background: #00C5DE;
		
			@media (max-width: 500px)
			{
				display: none;
			}
		}
		
		&:after {
			top: 0;
			left: 140px;
			width: 25px;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			transform: skewX(-20deg);
			background: #00C5DE;
		
			@media (max-width: 500px)
			{
				display: none;
			}
		}
		
		&__case {
			left: 20px;
			width: 189px;
			margin: -30px 30px -30px 0;
			z-index: 2;
			position: absolute;
			max-width: 100%;
			
			@media (max-width: 500px)
			{
				top: 0;
				left: 50%;
				margin: 20px 0 0 0;
				transform: translate(-50%, -100%);
			}
		}
		
		&__text {
			z-index: 2;
			position: relative;
			flex-grow: 1;
			font-weight: 700;
			
			span {
				color: #00C5DE;
				white-space: nowrap;
				text-transform: uppercase;
			}
		}
		
		&__btn {
			margin: 0 0 0 30px;
			
			.btn {
				
			}
			
			@media (max-width: 800px)
			{
				margin: 20px 0 0 0;
				flex-grow: 1;
			}
		}
	}
	
	&__data {
		display: flex;
		padding: 2.5em 0 3em 0;
		flex-wrap: wrap;
		align-items: center;
		
		@media (max-width: 700px)
		{
			flex-direction: column;
		}
		
		p {
			padding: 0 0 0 30px;
			position: relative;
		}
		
		a {
			color: #fff;
		}
		
		&__logo {
			order: 1;
			width: 270px;
			height: 56px;
			padding: 0 80px 0 0;
			align-self: start;
			box-sizing: border-box;
			margin-bottom: 10px;
			
			img {
				height: 100%;
				vertical-align: top;
			}
			
			@media (max-width: 1100px)
			{
				width: 40%;
				text-align: right;
			}
			
			@media (max-width: 700px)
			{
				width: auto;
				padding: 0;
				align-self: center;
			}
		}
		
		&__title {
			order: 2;
			width: calc(100% - 270px);
			font-size: 1.45em;
			padding-top: 0.1em;
			margin-bottom: 10px;
			text-transform: uppercase;
			
			@media (max-width: 1100px)
			{
				width: 60%;
			}
			
			@media (max-width: 700px)
			{
				width: auto;
				padding: 0;
				text-align: center;
			}
		}
		
		&__social {
			order: 3;
			width: 270px;
			display: flex;
			padding: 0 80px 0 0;
			box-sizing: border-box;
			
			a {
				width: 48px;
				height: 48px;
				border: 1px dashed #fff;
				display: block;
				position: relative;
				flex-grow: 0;
				box-sizing: border-box;
				flex-shrink: 0;
				margin-left: 16px;
				border-radius: 100%;
				
				transition: all 0.3s ease;
				
				img {
					top: 50%;
					left: 50%;
					height: 100%;
					position: absolute;
					max-width: 44%;
					transform: translate(-50%, -50%);
					max-height: 44%;
					
					transition: all 0.3s ease;
				}
				
				&:hover {
					transform: scale(1.05);
					
					img {
						transform: translate(-50%, -50%) scale(1.1);
					}
				}
				
				&:nth-child(1) {
					margin-left: 0;
				}
			}
			
			@media (max-width: 1100px)
			{
				width: 40%;
				justify-content: flex-end;
			}
			
			@media (max-width: 700px)
			{
				width: auto;
				margin: 30px 0;
				padding: 0;
			}
		}
		
		&__address {
			order: 4;
			flex-grow: 1;
			
			@media (max-width: 1100px)
			{
				width: 60%;
			}
			
			@media (max-width: 700px)
			{
				text-align: center;
				
				p {
					padding: 0;
				}
				
				.app-footer__data__icon {
					transform: scale(1.2);
				}
			}
		}
		
		&__worktime {
			order: 5;
			flex-grow: 1;
			
			@media (max-width: 1100px)
			{
				order: 5;
				width: 40%;
				padding: 0 80px 0 0;
				text-align: right;
				box-sizing: border-box;
			}
			
			@media (max-width: 700px)
			{
				width: auto;
				padding: 0;
				text-align: center;
				
				p {
					padding: 0;
				}
			}
		}
		
		&__contacts {
			order: 6;
			
			@media (max-width: 1100px)
			{
				order: 6;
				width: 60%;
			}
			
			@media (max-width: 700px)
			{
				text-align: center;
				
				p {
					margin: 1.7em 0 0 0;
					padding: 0;
				}
			}
		}
		
		&__icon {
			top: 2px;
			left: 0;
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			
			img {
				top: 50%;
				right: 0;
				position: absolute;
				max-width: 100%;
				transform: translate(0, -50%);
				max-height: 100%;
			}
			
			@media (max-width: 700px)
			{
				margin: 0 auto 10px auto;
				position: relative;
				
				img {
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}
