@import 'fonts';
@import 'controls';
@import 'popup';
@import 'swiper-bundle.min';

/****************/

:root {
  --swiper-theme-color: #00C5DE;
  --popup-scroll-offset: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: #fff;
  overflow-x: hidden;
  font-family: Circe, sans-serif;
}

p,
ul {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  opacity: 1;
  transition: opacity 0.15s ease;
  will-change: opacity;
}

img.lazy {
  opacity: 0;
}

input,
textarea {
  font-size: 16px;
  font-family: Circe, sans-serif;
}

form {
  transition: opacity 0.3s ease;
}

form.loading {
  opacity: 0.5;
  pointer-events: none;
}



.content-block {
  padding: 80px 0;
  overflow: hidden;
  position: relative;
  padding-right: var(--popup-scroll-offset);

  @media (max-width: 500px) {
    padding: 40px 0;
  }
}

.content-block__wrapper {
  width: 1200px;
  margin: 0 auto;
  z-index: 10;
  padding: 0 20px;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}

.content-block__title {
  color: #364C76;
  margin: 0 0 0.5em 0;
  font-size: 2.25em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 500px) {
    font-size: 2em;
    line-height: 1.15em;
  }
}



.btn {
  color: #fff;
  cursor: pointer;
  border: 1px solid #00C5DE;
  outline: 0;
  padding: 1.3em 2em 1.1em 2em;
  display: inline-block;
  overflow: hidden;
  position: relative;
  min-width: 240px;
  text-align: center;
  background: #00C5DE;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 61px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:before {
  width: 200%;
  height: 500%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: translate(-110%, -110%) translateZ(0);
  background: hsla(0, 0%, 100%, .2);
  transition: .36s cubic-bezier(.4, 0, 1, 1);
  border-radius: 100%;
}

.btn:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}

.btn:hover {
  text-decoration: none;
}

.btn__light {
  color: #00C5DE;
  background: transparent;
}

.btn__light:before {
  background: rgba(0, 197, 222, 0.08);
}

.btn__white {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.btn__white:before {
  background: rgba(255, 255, 255, 0.08);
}



.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  left: 20px;
  width: 40px;
  margin: 0;
  height: 40px;
  cursor: pointer;
  outline: 0;
  position: absolute;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.08);
  border-radius: 100%;

  transition: all 0.3s ease;
}

.swiper-button-next {
  left: auto;
  right: 20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev:before,
.swiper-button-next:before {
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  content: '';
  position: absolute;
  transform: translate(-35%, -50%) rotate(45deg);
  border-left: 2px solid #00C5DE;
  border-bottom: 2px solid #00C5DE;
}

.swiper-button-next:before {
  transform: translate(-65%, -50%) rotate(-135deg);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-pagination {
  left: 50%;
  bottom: 0.7em;
  transform: translateX(-50%);
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 6px;
  cursor: pointer;
  outline: 0;
  opacity: 0.8;
  background: #fff;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.08);
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #00C5DE;
}


@import 'header';
@import 'footer';



.icon {
  width: 70px;
  height: 70px;
  margin: 0 20px 0 0;
  display: inline-block;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  &:before {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 1px dashed #00C5DE;
    content: '';
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }

  &:after {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    content: '';
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.08);
    border-radius: 100%;
  }

  img {
    top: 50%;
    left: 50%;
    height: 100%;
    z-index: 2;
    position: absolute;
    max-width: 40%;
    transform: translate(-50%, -50%);
    max-height: 40%;
  }
}




.block-1 {
  padding: 100px var(--popup-scroll-offset) 0 0;
  position: relative;

  @media (max-width: 900px) {
    padding-top: 80px;

    .swiper-button-next {
      top: 40px;
      right: 20px;
    }

    .swiper-button-prev {
      top: 40px;
      left: auto;
      right: 75px;
    }
  }

  @media (max-width: 600px) {
    min-height: 100vh;
  }

  @media (max-width: 600px) {
    min-height: 100vh;
  }

  @media (max-width: 500px) {
    text-align: center;

    .swiper-button-next {
      top: auto;
      left: 75px;
      right: auto;
      bottom: 0;
    }

    .swiper-button-prev {
      top: auto;
      left: 20px;
      right: auto;
      bottom: 0;
    }
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 1;
    content: '';
    position: absolute;
    background: #F1F1F1;
  }

  .pg-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: 1;
    opacity: 0.08;
    position: absolute;
  }

  .content-block__wrapper {
    width: 1600px;
    z-index: 3;
    padding: 0 80px;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 1600px) {
      padding: 0;
    }
  }

  .swiper-container {
    width: 100%;

    .swiper-slide {
      display: flex;

      @media (max-width: 600px) {
        min-height: calc(100vh - 80px);
      }

      &>div {
        width: 1200px;
        margin: 0 auto;
        padding: 3em 20px calc(3em + 60px) 20px;
        position: relative;
        max-width: 100%;
        box-sizing: border-box;

        @media (max-width: 1600px) {
          padding-left: 80px;
          padding-right: 80px;
        }

        @media (max-width: 900px) {
          padding: 20px 20px 80px 20px;
        }
      }

      p {
        font-size: 1.715em;
        padding-right: 33%;

        @media (max-width: 600px) {
          font-size: 1.2em;
        }

        @media (max-width: 500px) {
          padding: 0;
          text-align: center;
        }
      }

      .btn {
        margin-top: 1.5em;

        @media (max-width: 400px) {
          margin-top: 1em;
        }
      }
    }
  }

  &__shadows {
    top: 0;
    right: 0;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: 2;
    position: absolute;
  }

  &__slide-title {
    color: #00C5DE;
    font-size: 3.999em;
    font-weight: 700;
    line-height: 1.2em;

    @media (max-width: 1100px) {
      font-size: 4em;
    }

    @media (max-width: 900px) {
      font-size: 3em;
    }

    @media (max-width: 600px) {
      font-size: 2.5em;
    }

    @media (max-width: 400px) {
      font-size: 1.8em;
    }
  }

  &__slide-title-2 {
    color: #00C5DE;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1.2em;
  }

  &__icons-grid {
    margin: 40px 0 0 -20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;

    @media (max-width: 600px) {
      display: none;
    }

    &__item {
      width: 50%;
      padding: 15px;
      display: flex;
      box-sizing: border-box;
      align-items: top;

      @media (max-width: 1100px) {
        width: 100%;
      }

      &__title {
        color: #00C5DE;
        padding: 0 0 5px 0;
        font-size: 1.143em;
        font-weight: 700;
        line-height: 1.2em;
      }

      &__text {
        font-size: 1.143em;
        font-weight: 300;
        line-height: 1.2em;
      }
    }
  }

  &__slide-1 {
    &>div>img {
      right: -30px;
      bottom: 0;
      position: absolute;
      max-height: 100%;

      @media (max-width: 800px) {
        max-height: 60%;
      }

      @media (max-width: 600px) {
        max-height: 80%;
      }

      @media (max-width: 500px) {
        right: 0;
        max-height: calc(80% - 150px);
      }
    }
  }
}



.block-2__grid {
  display: flex;
  flex-wrap: wrap;
}

.block-2__grid__item {
  width: 33.333%;
  padding: 30px;
  box-sizing: border-box;

  @media (max-width: 900px) {
    width: 50%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.block-2__grid__item__image {
  position: relative;
  padding-top: 60%;
}

.block-2__grid__item__image img {
  top: 50%;
  left: 50%;
  height: 100px;
  z-index: 3;
  position: absolute;
  max-width: 80%;
  transform: translate(-50%, -50%);
  max-height: 80%;
}

.block-2__grid__item__image:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.block-2__grid__item__list {
  list-style: none;
}

.block-2__grid__item__list li {
  margin: 1em 0;
  position: relative;
}

.block-2__grid__item__list li:before {
  top: 6px;
  left: -20px;
  width: 6px;
  height: 6px;
  content: '';
  position: absolute;
  background: #00C5DE;
  border-radius: 100%;
}

.block-2__grid__item__image__shadow-1 {
  width: 50%;
  z-index: 1;
  position: absolute;
}

.block-2__grid__item__image__shadow-1>div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #F4F7FF;
  border-radius: 13px;
}

.block-2__grid__item__image__shadow-2 {
  width: 30%;
  height: 31%;
  z-index: 1;
  position: absolute;
}

.block-2__grid__item__image__shadow-2>div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute !important;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}

.block-2__grid__item__title {
  color: #364C76;
  margin: 2em 0 0.5em 0;
  font-size: 1.286em;
  min-height: 3.2em;
  text-align: center;
  line-height: 1.6em;
  text-transform: uppercase;
}

.block-2__grid__item:nth-child(1) .block-2__grid__item__image__shadow-1 {
  top: -30px;
  left: -30px;
  bottom: 30px;
}

.block-2__grid__item:nth-child(2) .block-2__grid__item__image__shadow-1 {
  top: -20px;
  left: 25%;
  bottom: -20px;
}

.block-2__grid__item:nth-child(3) .block-2__grid__item__image__shadow-1 {
  top: -30px;
  right: -30px;
  bottom: 30px;
}

.block-2__grid__item:nth-child(4) .block-2__grid__item__image__shadow-1 {
  top: 30px;
  left: -30px;
  bottom: -30px;
}

.block-2__grid__item:nth-child(5) .block-2__grid__item__image__shadow-1 {
  top: -20px;
  left: 25%;
  bottom: -20px;
}

.block-2__grid__item:nth-child(6) .block-2__grid__item__image__shadow-1 {
  top: -30px;
  right: -30px;
  bottom: 30px;
}

.block-2__grid__item:nth-child(1) .block-2__grid__item__image__shadow-2 {
  top: 34.5%;
  right: -30px;
}

.block-2__grid__item:nth-child(2) .block-2__grid__item__image__shadow-2 {
  top: -20px;
  left: 25%;
}

.block-2__grid__item:nth-child(3) .block-2__grid__item__image__shadow-2 {
  top: -30px;
  left: 40%;
}

.block-2__grid__item:nth-child(4) .block-2__grid__item__image__shadow-2 {
  right: -30px;
  bottom: -30px;
}

.block-2__grid__item:nth-child(5) .block-2__grid__item__image__shadow-2 {
  top: 20%;
  right: -30px;
}

.block-2__grid__item:nth-child(6) .block-2__grid__item__image__shadow-2 {
  right: -20px;
  bottom: -30px;
}


.block-3 {
  color: #fff;
  padding: 40px 0;
  background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);
}

.block-3 svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  @media (max-width: 1000px) {
    display: none;
  }
}

.block-3 .content-block__title {
  color: #fff;
}

.block-3 .icon {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}

.block-3 .icon:before {
  border-color: #fff;
}

.block-3__columns {
  display: flex;
  flex-wrap: wrap;
}

.block-3__content__left,
.block-3__content__right {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1em;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.block-3__content__left {
  padding-right: 30px;
  padding-bottom: 30px;

  @media (max-width: 1000px) {
    padding: 0;
    margin-top: 50px;
    text-align: center;
  }
}

.block-3__content__right {
  padding-left: 30px;
  padding-bottom: 30px;

  @media (max-width: 1000px) {
    padding: 0;
    margin-top: 50px;
    text-align: center;
  }
}

.block-3__content__left .block-3__columns,
.block-3__content__right .block-3__columns {
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: 1000px) {
    margin: 0 0 20px 0;
    justify-content: center;
  }

  @media (max-width: 600px) {
    flex-direction: column;

    .icon {
      margin: 0;
    }
  }
}

.block-3__content__right .block-3__columns {
  margin-left: 30px;

  @media (max-width: 1000px) {
    margin: 0 0 20px 0;
  }
}

.block-3__content__title {
  font-size: 1.714em;
  align-self: center;
  font-weight: 700;
  padding-top: 0.4em;
  text-transform: uppercase;
}

.block-3__content__list {
  color: #fff;
  font-size: 1.143em;
  list-style: none;
  padding-left: 110px;

  @media (max-width: 1000px) {
    display: inline-block;
    padding-left: 50px;
  }
}

.block-3__content__list li {
  margin: 0.5em 0;
  position: relative;
  text-align: left;
}

.block-3__content__list li:before {
  top: 1px;
  left: -40px;
  width: 17px;
  height: 17px;
  content: '';
  position: absolute;
  background: #fff url(/media/landing/check-icon-dark.svg) no-repeat center;
  border-radius: 100%;
  background-size: 45% auto;
}

.block-3__content__right__text {
  padding: 0 20% 0 2%;
  font-size: 1.143em;
  text-align: center;

  @media (max-width: 1000px) {
    padding: 0;
  }
}

.block-3__content__right__text a {
  color: #fff;
  font-size: 1.5em;
}



.block-4 {
  overflow: hidden;
}

.block-4 .icon:before {
  border-color: #3771E1;
}

.block-4__icon-shadow {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: rotate(-10deg);
}

.block-4__icon-shadow:before {
  top: 50%;
  left: 50%;
  width: 67px;
  height: 32px;
  content: '';
  position: absolute;
  transform: translate(-50%, -200%);
  background: url(/media/landing/block-4-icon-shadow.svg) no-repeat center;
  background-size: 100% auto;
}

.block-4__grid {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}

.block-4__grid__item {
  width: 50%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: start;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.block-4__grid__item:nth-child(2) .block-4__icon-shadow {
  transform: rotate(22deg);
}

.block-4__grid__item:nth-child(3) .block-4__icon-shadow {
  transform: rotate(-85deg);
}

.block-4__grid__item:nth-child(4) .block-4__icon-shadow {
  transform: rotate(150deg);
}

.block-4__grid__item:nth-child(5) .block-4__icon-shadow {
  transform: rotate(-140deg);
}

.block-4__shadow-1 {
  top: 20%;
  left: 0;
  width: 100px;
  height: 200px;
  filter: blur(150px);
  position: absolute;
  background: rgba(55, 113, 225, 1);
}

.block-4__shadow-2 {
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  filter: blur(110px);
  position: absolute;
  background: rgba(55, 113, 225, 1);
}



.block-5 {
  background: #F1F1F1;
  padding-bottom: 0;
}

.block-5 .content-block__wrapper {
  width: 1000px;
  padding-bottom: 0;
}

.block-5__columns {
  display: flex;

  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.block-5__left {
  flex-grow: 1;
  margin-right: 30px;

  @media (max-width: 750px) {
    margin: 0;
  }
}

.block-5__left__btn {
  @media (max-width: 750px) {
    text-align: center;
  }
}

.block-5__left__title {
  font-size: 1.286em;
  font-weight: 700;
}

.block-5__left__range-container {
  margin: 0.5em 0 2.5em 0;
  display: flex;
  align-items: center;
}

.block-5__left__range {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.block-5__left__range input {
  width: 100%;
}

.block-5__left__range input::-webkit-slider-runnable-track {
  height: 9px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 22px;
}

.block-5__left__range input::-webkit-slider-thumb {
  cursor: pointer;
  margin-top: -4px;
}

.block-5__left__range>div {
  width: 0;
  margin: 0 auto;
  position: relative;
  flex-grow: 0;
  transform: translateY(5px);
  flex-shrink: 0;
}

.block-5__left__range>div:nth-child(2) {
  margin-left: 0;
}

.block-5__left__range>div:last-child {
  margin-right: 0;
}

.block-5__left__range>div>div {
  position: absolute;
  transform: translateX(-50%);
  font-weight: 300;
}

.block-5__left__range>div:nth-child(2)>div {
  transform: translateX(3px);
}

.block-5__left__range>div:last-child>div {
  transform: translateX(-110%);
}

.block-5__left__range-value {
  flex: 50px 0 0;
  border: 1px solid #D0D0D0;
  margin: 0 15px 0 0;
  padding: 0.2em 0;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  border-radius: 12px;
}

.block-5__left__input {
  flex-grow: 1;
}

.block-5__left__checkboxes {
  margin: 0 0 2em 0;
}

.block-5__right {
  width: 320px;
  padding: 15px;
  flex-grow: 0;
  background: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  @media (max-width: 750px) {
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}

.block-5__right__logo {
  height: 30px;
  text-align: center;
}

.block-5__right__logo img {
  max-height: 100%;
}

.block-5__right__title1 {
  color: #00C5DE;
  padding: 0.7em 0;
  font-size: 1.714em;
  text-align: center;
  line-height: 1em;
  font-weight: 700;
}

.block-5__right__title2 {
  font-size: 1.286em;
  text-align: center;
  font-weight: 700;
}

.block-5__right__title2 span {
  color: #00C5DE;
}

.block-5__right__key-value {
  margin: 0.5em 0;
  display: flex;
}

.block-5__right__key-value>div:nth-child(2) {
  height: 1.03em;
  flex-grow: 1;
  border-bottom: 1px dashed #D7D7D7;
}

.block-5__right__key-value>div:nth-child(3) {
  color: #00C5DE;
}

.block-5 input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0 8px 0 2px;
  cursor: pointer;
  transform: translateY(-1px);
}

.block-5 label {
  font-size: 1.286em;
  font-weight: 300;
  vertical-align: middle;
}



.block-6 .content-block__wrapper {
  width: 1000px;
}

.block-6__grid {
  display: flex;
  flex-wrap: wrap;
}

.block-6__grid__item {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.block-6__grid__item__title {
  color: #364C76;
  font-size: 1.286em;
  font-weight: 700;
}

.block-6__content__list {
  list-style: none;
  padding-left: 25px;
}

.block-6__content__list li {
  margin: 0.5em 0;
  position: relative;
}

.block-6__content__list li:before {
  top: 2px;
  left: -25px;
  width: 17px;
  height: 17px;
  content: '';
  position: absolute;
  background: #00C5DE url(/media/landing/check-icon-light.svg) no-repeat center;
  border-radius: 100%;
  background-size: 45% auto;
}

.block-6__shadow-1 {
  top: 50%;
  right: -100px;
  width: 200px;
  height: 200px;
  position: absolute;
}

.block-6__shadow-1>div {
  width: 100%;
  height: 100%;
  background: #F4F7FF;
  border-radius: 20px;
}

.block-6__shadow-2 {
  top: 50%;
  right: -80px;
  width: 140px;
  height: 200px;
  position: absolute;
}

.block-6__shadow-2>div {
  width: 100%;
  height: 100%;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}



.block-7 {
  background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);

  .swiper-container {
    margin: 0 auto;
    min-width: 360px;

    &:not(.swiper-container-initialized) {
      .block-7__grid__item {
        margin: 0 15px;
      }
    }

    @media (max-width: 1000px) {
      width: 33.333%;
      overflow: visible;
    }

    @media (max-width: 450px) {
      min-width: 280px;

      .btn {
        min-width: auto;
      }
    }
  }

  .swiper-pagination {
    bottom: -40px;
    display: none;

    .swiper-pagination-bullet {
      width: 20px;
      height: 2px;
      border-radius: 0;
    }

    @media (max-width: 1000px) {
      display: block;
    }
  }
}

.block-7__grid {
  display: flex;
}

.block-7__grid__item {
  width: 33.333%;
  height: auto;
  padding: 30px 30px 60px 30px;
  position: relative;
  flex-grow: 0;
  box-sizing: border-box;
  flex-shrink: 0;

  transition: all 0.3s ease;

  @media (max-width: 1000px) {
    &:not(.swiper-slide-active) {
      opacity: 0.5;
    }
  }
}

.block-7__grid__item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  content: '';
  z-index: 1;
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;

  transition: bottom 0.3s ease;
}

.block-7__grid__item:after {
  top: 14px;
  left: 11px;
  right: 11px;
  bottom: 31px;
  border: 1px dashed #00C5DE;
  content: '';
  z-index: 2;
  position: absolute;
  border-radius: 7px;

  transition: bottom 0.3s ease;
}

.block-7__grid__item.swiper-slide-active {
  padding-bottom: 40px;
}

.block-7__grid__item.swiper-slide-active:before {
  bottom: 0;
}

.block-7__grid__item.swiper-slide-active:after {
  bottom: 11px;
}

.block-7__grid__item__wrapper {
  height: 100%;
  z-index: 3;
  display: flex;
  position: relative;
  flex-direction: column;
}

.block-7__grid__item__wrapper>div:nth-child(1) {
  flex-grow: 1;
}

.block-7__grid__item__title1 {
  color: #00C5DE;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  font-weight: 700;
}

.block-7__grid__item__title2 {
  color: #364C76;
  font-size: 1.429em;
  text-align: center;
  font-weight: 700;
}

.block-7__grid__item__list {
  margin-top: 2em;
  list-style: none;
  padding-left: 25px;
}

.block-7__grid__item__list li {
  margin: 0.5em 0;
  position: relative;
}

.block-7__grid__item__list li:before {
  top: 1px;
  left: -25px;
  width: 17px;
  height: 17px;
  content: '';
  position: absolute;
  background: #00C5DE url(/media/landing/check-icon-light.svg) no-repeat center;
  border-radius: 100%;
  background-size: 45% auto;
}

.block-7__grid__item__logo {
  text-align: center;
}

.block-7__grid__item__logo img {
  max-width: 140px;
}

.block-7__grid__item__btn {
  margin: 30px 0 0 0;
  text-align: center;
}

.block-7__shadow {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.block-7__shadow>div {
  width: 100%;
  height: 100%;
}

.block-7__shadow>div>div {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
}



.block-9 .icon:before {
  border-color: #3771E1;
}

.block-9 .icon:after {
  background-color: #00C5DE;
}

.block-9__columns {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}

.block-9__item {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.block-9__item__title {
  color: #00C5DE;
  font-size: 1.286em;
  font-weight: 700;
  text-transform: uppercase;
}

.block-9__item__text {
  padding-left: 90px;
}

.block-9__item .block-9__columns {
  margin: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.block-9__shadow-1 {
  width: 200px;
  height: 200px;
  position: absolute;
}

.block-9__shadow-1>div {
  width: 100%;
  height: 100%;
  background: #F4F7FF;
  border-radius: 20px;
}

.block-9__shadow-2 {
  width: 70px;
  height: 100px;
  position: absolute;
}

.block-9__shadow-2>div {
  width: 100%;
  height: 100%;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}



.block-10 {
  background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);
}

.block-10 a {
  color: #fff;
}

.block-10 .content-block__title {
  color: #fff;
}

.block-10 .content-block__wrapper {
  color: #fff;
  text-align: center;
}

.block-10 .content-block__wrapper p {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.block-10 .content-block__wrapper a {
  font-size: 1.8em;
}



.block-11 .content-block__wrapper {
  width: 1000px;
}

.block-11 .icon {
  top: -20px;
  left: -10px;
  position: relative;
}

.block-11 .icon:before {
  border-color: #3771E1;
}

.block-11 .icon:after {
  background-color: #00C5DE;
}

.block-11__columns {
  display: flex;
  flex-wrap: wrap;
}

.block-11__item {
  width: calc(50% - 30px);
  margin: 20px 15px 40px 15px;
  padding: 0 15px 15px 0;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;

  @media (max-width: 700px) {
    width: calc(100% - 30px);
  }

  @media (max-width: 450px) {
    width: 100%;
    margin: 20px 0 40px 0;
    padding: 10px 15px 15px 0;
  }
}

.block-11__item__title {
  color: #00C5DE;
  font-size: 1.286em;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 450px) {
    font-size: 1em;
  }
}

.block-11__item__text {
  font-weight: 500;
  padding-left: 90px;
}

.block-11__item .block-11__columns {
  flex-wrap: nowrap;
  align-items: center;
}

.block-11__shadow-1 {
  width: 200px;
  height: 200px;
  position: absolute;
}

.block-11__shadow-1>div {
  width: 100%;
  height: 100%;
  background: #F4F7FF;
  border-radius: 20px;
}

.block-11__shadow-2 {
  width: 70px;
  height: 100px;
  position: absolute;
}

.block-11__shadow-2>div {
  width: 100%;
  height: 100%;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}




.block-12 {
  background: linear-gradient(180deg, #0C0823 0%, #130C35 100%);
}

.block-12 .content-block__title {
  color: #fff;
}

.block-12 .content-block__wrapper {
  color: #fff;
  width: 1000px;
  text-align: center;
}

.block-12 p {
  margin: 1.5em 0;
}

.block-12__icon__index {
  top: 14%;
  left: 14%;
  width: 30px;
  color: #00C5DE;
  height: 30px;
  z-index: 4;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 32px;
  border-radius: 100%;
}

.block-12__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block-12__grid__item {
  flex: calc(20% - 20px) 0 0;
  padding: 0 10px;
  min-width: 170px;
  margin-top: 3em;
}

.block-12__grid__item .icon {
  margin: 0;
}

.block-12__grid__item .icon:before {
  border-color: #FFFFFF;
}

.block-12__grid__item .icon:after {
  background-color: #00C5DE;
}

.block-12__shadow {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.block-12__shadow>div {
  width: 100%;
  height: 100%;
}

.block-12__shadow>div>div {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
}



.block-13 .content-block__wrapper {
  width: 900px;
}

.block-13__description {
  padding: 0.7em 0 3em 0;
  font-size: 1.5em;
  text-align: center;
}

.block-13__grid {
  display: flex;
  flex-wrap: wrap;
}

.block-13__grid__item {
  width: 33.333%;
  margin: 0 0 30px 0;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: 700px) {
    width: 50%;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}

.block-13__grid__item .icon {
  margin: 20px 0 0 0;
}

.block-13__grid__item .icon:before {
  border-color: #3771E1;
}

.block-13__grid__item b {
  color: #00C5DE;
  font-size: 1.286em;
  font-weight: 700;
}

.block-13__icon-shadow {
  top: 50%;
  left: 50%;
  width: 202px;
  height: 158px;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.75);
  background: url(/media/landing/icon-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}



.block-14 {
  position: relative;
  background: #F1F1F1;

  .content-block__wrapper {
    width: 1600px;
    z-index: 3;
    padding: 3em 80px;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 800px) {
      padding: 3em 40px;
    }

    @media (max-width: 650px) {
      padding: 3em 20px;

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }

  &__first-slide {
    padding-top: var(--header-height);

    .content-block__wrapper {
      padding-top: 0 !important;
    }
  }

  &__list {
    .swiper-slide {
      margin: 10vh 0;

      &:nth-child(2n + 1)>div {
        flex-direction: row-reverse;

        .block-14__content {
          text-align: right;

          &__title2 {
            flex-direction: row-reverse;

            &:before {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }

    @media (max-width: 650px) {
      .swiper-slide {

        &:nth-child(2n + 1)>div {
          flex-direction: column;

          .block-14__content {
            text-align: left;

            &__title2 {
              flex-direction: row;

              &:before {
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

.block-14__slide-title {
  color: #00C5DE;
  font-size: 3.999em;
  font-weight: 700;
  line-height: 1.2em;
}

.block-14 .swiper-container {
  width: 100%;
}

.block-14 .swiper-slide>div {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  padding: 30px;
  max-width: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.block-14 .swiper-slide p {
  font-size: 1.531em;
  line-height: 1.2em;
}

.block-14 .swiper-slide .btn {
  margin-top: 1.5em;
}

.block-14__video {
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;

  @media (max-width: 650px) {
    order: 2;
    width: 100%;
    margin-top: 20px;
    padding-top: 56.25%
  }
}

.block-14__video iframe {
  width: 100%;
  height: 100%;

  @media (max-width: 650px) {
    top: 0;
    left: 0;
    position: absolute;
  }
}

.block-14__video__cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 16px;

  @media (max-width: 650px) {
    top: 0;
    left: 0;
    position: absolute;
  }
}

.block-14__video__cover img {
  top: 50%;
  left: 50%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);

  transition: opacity 0.3s ease;
}

.block-14__video__cover img.swiper-lazy-loaded {
  opacity: 1;
}

.block-14__video__cover img:not(.lazy):not(.swiper-lazy) {
  opacity: 1;
}

.block-14__video__play {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 1px solid #fff;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 100%;

  transition: all 0.3s ease;
}

.block-14__video__play:hover {
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.15);
}

.block-14__video__play:before {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 100%;

  transition: all 0.3s ease;
}

.block-14__video__play:hover:before {
  width: 84%;
  height: 84%;
}

.block-14__video__play:after {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  transform: translate(-33%, -48%);
  border-style: solid;
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent #00c4de;
}

.block-14__separator {
  width: 1px;
  margin: 0 40px;
  background: linear-gradient(180deg, rgba(49, 75, 126, 0) 0%, rgba(49, 75, 126, 0.8) 47.24%, rgba(49, 75, 126, 0) 98.58%);

  @media (max-width: 800px) {
    margin: 0 20px 0 30px;
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.block-14__content {
  width: 60%;

  @media (max-width: 650px) {
    order: 1;
    width: auto;
  }
}

.block-14__content__title1 {
  color: #00C5DE;
  margin: 0 0 1em 0;
  font-size: 1.75em;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 800px) {
    font-size: 1.7em;

    nobr {
      white-space: normal;
    }
  }

  @media (max-width: 650px) {
    text-align: center;
  }
}

.block-14__content__title2 {
  color: #00C5DE;
  display: flex;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

.block-14__content__title2:before {
  top: 3px;
  width: 17px;
  height: 17px;
  margin: 0 10px 0 0;
  content: '';
  position: relative;
  background: #00C5DE url(/media/landing/check-icon-light.svg) no-repeat center;
  border-radius: 100%;
  background-size: 45% auto;
}

.block-14__content__text {
  padding: 5px 0 10px 27px;
}

.block-14__shadow {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.block-14__shadow>div {
  width: 100%;
  height: 100%;
}

.block-14__shadow>div>div {
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #3F67E2 13.96%, #91ACFF 85.26%);
  border-radius: 100%;
}

.block-14__shadow-2 {
  top: 20%;
  left: 0;
  width: 100px;
  height: 200px;
  filter: blur(150px);
  position: absolute;
  background: rgba(55, 113, 225, 1);
}

.block-14__shadow-3 {
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  filter: blur(110px);
  position: absolute;
  background: rgba(55, 113, 225, 1);
}


.block-15 .content-block__wrapper {
  width: 1000px;
}

.block-15__grid {
  display: flex;
  flex-wrap: wrap;
}

.block-15__grid__item {
  width: 33.333%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: 700px) {
    width: 50%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.block-15__grid__item__image {
  position: relative;
  padding-top: 60%;
}

.block-15__grid__item__image img {
  top: 50%;
  left: 50%;
  height: 100%;
  z-index: 3;
  position: absolute;
  max-width: 60%;
  transform: translate(-50%, -50%);
  max-height: 60%;
}

.block-15__grid__item__image:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.block-15__grid__item__image__shadow-1 {
  width: 50%;
  z-index: 1;
  position: absolute;
}

.block-15__grid__item__image__shadow-1>div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #F4F7FF;
  border-radius: 13px;
}

.block-15__grid__item__image__shadow-2 {
  width: 30%;
  height: 31%;
  z-index: 1;
  position: absolute;
}

.block-15__grid__item__image__shadow-2>div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute !important;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}

.block-15__grid__item__title {
  color: #fff;
  margin: 3em 0 0.5em 0;
  padding: 0.2em 1.5em 0 1.5em;
  display: inline-block;
  font-size: 1.286em;
  background: #00C5DE;
  text-align: center;
  line-height: 1.6em;
  font-weight: 700;
  border-radius: 16px;
  text-transform: uppercase;
}

.block-15__grid__item:nth-child(1) .block-15__grid__item__image__shadow-1 {
  top: -30px;
  left: -30px;
  bottom: 30px;
}

.block-15__grid__item:nth-child(2) .block-15__grid__item__image__shadow-1 {
  top: -20px;
  left: 25%;
  bottom: -20px;
}

.block-15__grid__item:nth-child(3) .block-15__grid__item__image__shadow-1 {
  top: -30px;
  right: -30px;
  bottom: 30px;
}

.block-15__grid__item:nth-child(4) .block-15__grid__item__image__shadow-1 {
  top: 30px;
  left: -30px;
  bottom: -30px;
}

.block-15__grid__item:nth-child(5) .block-15__grid__item__image__shadow-1 {
  top: -20px;
  left: 25%;
  bottom: -20px;
}

.block-15__grid__item:nth-child(6) .block-15__grid__item__image__shadow-1 {
  top: -30px;
  right: -30px;
  bottom: 30px;
}

.block-15__grid__item:nth-child(1) .block-15__grid__item__image__shadow-2 {
  top: 34.5%;
  right: -30px;
}

.block-15__grid__item:nth-child(2) .block-15__grid__item__image__shadow-2 {
  top: -20px;
  left: 25%;
}

.block-15__grid__item:nth-child(3) .block-15__grid__item__image__shadow-2 {
  top: -30px;
  left: 40%;
}

.block-15__grid__item:nth-child(4) .block-15__grid__item__image__shadow-2 {
  right: -30px;
  bottom: -30px;
}

.block-15__grid__item:nth-child(5) .block-15__grid__item__image__shadow-2 {
  top: 20%;
  right: -30px;
}

.block-15__grid__item:nth-child(6) .block-15__grid__item__image__shadow-2 {
  right: -20px;
  bottom: -30px;
}

.block-15__shadow-1 {
  width: 100px;
  height: 100px;
  position: absolute;
}

.block-15__shadow-1>div {
  width: 100%;
  height: 100%;
  background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
  background-size: 100% auto;
}



.block-16 {
  overflow: hidden;
  text-align: center;
}

.block-16 .content-block__wrapper {
  width: 1000px;
  padding: 0 20px;
}

.block-16__map {
  width: 100%;
  position: relative;
  padding-top: 67.14%;
}

.block-16__map svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
  position: absolute;
}

.block-16__background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.block-16__background img {
  top: 50%;
  left: 50%;
  position: absolute;
  min-width: 100%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  object-fit: cover;
}

.block-16 svg path {
  cursor: pointer;
  transition: all 0.3s ease;
}

.block-16 svg>g {
  transition: all 0.3s ease;
  pointer-events: none;
}

.block-16 svg>g.hovered {
  transform: translateY(-10px);
}

.block-16 svg>path:hover {
  fill: #E6F9FB;
}



.block-17 {
  overflow: hidden;
  padding-bottom: 155px;
}

.block-17 .content-block__wrapper {
  width: 800px;
}

.block-17 .content-block__wrapper:before {
  top: 0;
  left: 0;
  width: 80px;
  height: 1000px;
  content: '';
  position: absolute;
  transform: translate(-100%, -110px) rotate(25deg);
  background: linear-gradient(270deg, #F8F9FA 0, #F8F9FA 40px, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0) 55px, #F8F9FA 55px);
  transform-origin: top left;
}

.block-17 .content-block__wrapper:after {
  top: 0;
  right: 0;
  width: 80px;
  height: 1000px;
  content: '';
  position: absolute;
  transform: translate(100%, -110px) rotate(-25deg);
  background: linear-gradient(90deg, #F8F9FA 0, #F8F9FA 40px, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0) 55px, #F8F9FA 55px);
  transform-origin: top right;
}

.block-17__columns {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.block-17__manager {
  width: 35%;
  margin-right: 10%;

  @media (max-width: 800px) {
    margin-right: 5%;
  }

  @media (max-width: 800px) {
    width: auto;
    margin: 0 auto;
    max-width: 250px;
  }
}

.block-17__manager__photo {
  border: 3px solid #3F67E2;
  position: relative;
  margin-top: 60px;
  padding-top: 100%;
  border-radius: 30px;
}

.block-17__manager__photo img {
  left: 50%;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  transform: translateX(-50%);
}

.block-17__manager__photo:before {
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
}

.block-17__manager__info {
  margin: 32px 0 0 0;
  padding: 10px 15px;
  max-width: 250px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.block-17__manager__info p:nth-child(2) {
  color: #00C5DE;
  font-size: 1.286em;
  font-weight: 700;
}

.block-17__form {
  width: 55%;
  padding: 45px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 13px;

  @media (max-width: 800px) {
    width: auto;
    padding: 0;
    margin-top: 32px;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
  }
}

.block-17__form .custom-tb,
.block-17__form .custom-ta {
  margin-bottom: 24px;
}



.block-18 {
  border-top: 8px solid #f9f9fa;

  .content-block__wrapper {
    width: 1200px;
  }

  .icon {
    top: 0;
    left: 50%;
    margin: 0;
    position: relative;
    position: absolute;
    transform: translate(-50%, -50%);

    &:before {
      border-color: #3771E1;
    }

    &:after {
      background-color: #00C5DE;
    }
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: calc(25% - 30px);
    margin: 50px 15px 40px 15px;
    padding: 50px 1.2em 1.2em 1.2em;
    position: relative;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 13px;

    @media (max-width: 1200px) {
      width: calc(33.333% - 30px);
    }

    @media (max-width: 900px) {
      width: calc(50% - 30px);
    }

    @media (max-width: 600px) {
      width: calc(100% - 30px);
    }

    @media (max-width: 450px) {
      width: 100%;
      margin: 20px 0 40px 0;
      padding: 50px 15px 15px 15px;
    }


    &__shadow-1 {
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      transform: translate(-50%, -50%);

      &.right {
        left: auto;
        right: 0;
        transform: translate(50%, -50%) rotate(90deg);
      }
    }

    &__shadow-2 {
      top: 0;
      left: 50%;
      width: 25%;
      filter: brightness(0);
      z-index: -1;
      opacity: 0.05;
      position: absolute;
      transform: translate(-150%, -110%);

      &.right {
        left: auto;
        right: 50%;
        transform: translate(150%, -110%);
      }
    }

    &__title {
      color: #00C5DE;
      font-size: 1.125em;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 450px) {
        font-size: 1em;
      }
    }

    &__text {
      margin-top: 10px;
      font-weight: 500;
    }

    .block-18__columns {
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}



.block-19 {
  background: #F5F5F5;

  .content-block__wrapper {
    width: 980px;
  }

  @media (max-width: 800px) {
    padding-top: 160px;
  }

  &__dotted-wrapper {
    border: 1px dashed #00C5DE;
    padding: 25px;
    border-radius: 15px;

    @media (max-width: 800px) {
      padding: 10px;
    }
  }

  &__title {
    margin: 0 0 14px 0;
    padding: 0 55px;

    &>div {
      padding: 0 0 0 calc(30% + 30px);
    }

    &__line1 {
      font-size: 1.286em;
      font-weight: 500;

      &>span {
        color: #00C5DE;
      }
    }

    &__line2 {
      color: #00C5DE;
      font-size: 2em;
      line-height: 1em;
      font-weight: 700;
    }

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__title-mobile {
    margin: 20px 0;
    display: none;
    text-align: center;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    padding: 16px 30px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 13px;

    &__left {
      width: 30%;
      flex-grow: 0;
      flex-shrink: 0;

      @media (max-width: 600px) {
        width: 40%;
      }

      @media (max-width: 500px) {
        width: 50%;
      }

      @media (max-width: 400px) {
        width: 60%;
      }

      @media (max-width: 350px) {
        width: 80%;
      }
    }

    &__right {
      padding: 0 0 0 30px;
      position: relative;
      font-weight: 500;

      &>p {
        margin: 1em 0;
      }

      &>img {
        right: 20px;
        bottom: 20px;
        opacity: 0.1;
        position: absolute;
      }

      @media (max-width: 800px) {
        padding: 0;
        text-align: center;
      }
    }

    @media (max-width: 800px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__photo {
    border: 3px solid #3F67E2;
    margin: -112px 0 0 0;
    position: relative;
    background: #fff;
    padding-top: 100%;
    border-radius: 30px;

    &:before {
      top: 0;
      left: -3px;
      right: -3px;
      bottom: 0;
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
    }

    &__image-wrapper {
      top: -0.5px;
      left: -0.5px;
      right: -0.5px;
      bottom: -0.5px;
      overflow: hidden;
      position: absolute;
      border-radius: 28px;

      &>img {
        top: 50%;
        left: 50%;
        position: absolute;
        max-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__shadow-1 {
    top: 20%;
    left: 0;
    width: 100px;
    height: 200px;
    filter: blur(150px);
    position: absolute;
    background: rgba(55, 113, 225, 1);
  }

  &__shadow-2 {
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    filter: blur(110px);
    position: absolute;
    background: rgba(55, 113, 225, 1);
  }

  &__shadow-3 {
    width: 200px;
    height: 200px;
    position: absolute;

    &>div {
      width: 100%;
      height: 100%;
      background: #f5f5f5;
      border-radius: 20px;
    }
  }

  &__shadow-4 {
    width: 120px;
    height: 100px;
    position: absolute;

    &>div {
      width: 100%;
      height: 100%;
      background: url(/media/landing/block-2-shadow-2.svg) no-repeat center;
      background-size: 100% auto;
    }
  }
}



.block-20 {
  &__columns {
    margin: 0 -40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: calc(33.333% - 80px) 0 1;
    margin: 20px 40px;

    &__bordered-wrapper {
      border: 18px solid #F5F6F7;
      border-radius: 32px;
    }

    &__photo-wrapper {
      overflow: hidden;
      position: relative;
      background: #eee;
      padding-top: 100%;
      border-radius: 16px;

      &>img {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }

    &__info {
      margin: 20px 10px -35px 10px;
      padding: 10px 15px;
      background: #fff;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
      border-radius: 13px;


      &__name {
        color: #00C5DE;
        margin: 5px 0 0 0;
        font-size: 1.125em;
        font-weight: 700;
      }
    }

    &__description {
      padding: 40px 0 0 0;
      position: relative;
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    &__columns {
      margin: 0 -10px;
    }

    &__item {
      margin: 20px 10px;
    }
  }

  @media (max-width: 800px) {
    &__item {
      flex: calc(50% - 20px) 0 1;
    }
  }

  @media (max-width: 550px) {
    &__item {
      flex: calc(100% - 20px) 0 1;
    }
  }
}

@import 'block-21';
@import 'block-22';
@import 'block-23';
@import 'block-24';
